@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  background: hsl(225, 100%, 94%) url("images/pattern-background-desktop.svg") no-repeat fixed top;
  background-size: contain;
  font-family: 'Red Hat Display';
  font-weight: 500;
}

h1 {
  font-weight: 900;
}

p {
  font-weight: 500;
  margin: 3rem;
}

.card-container {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.card {
  max-width:450px;
  border-radius: 20px;
  background-color: hsl(225, 100%, 98%);
}

.plan-container {
  padding: 3rem;
}

.plan {
  display: flex;
  align-items: center;
  background-color: hsl(228, 33%, 94%);
  border-radius: 20px;
}
.plan img {
  flex-grow: 1;
  padding: 25px;
}

.plan-text {
  flex-grow: 1;
  padding: 10px;
  text-align: left;
}

.plan-text h3 {
  font-weight: 700;
  margin: 0;
}


.plan a {
  flex-grow: 1;
}

